<main class="form-page">
  <form action="/register" method="post" class="form-box">
    <h1>회원가입</h1>
    <label>
      아이디
      <input type="text" name="username" required>
    </label>
    <label>
      비밀번호
      <input type="password" name="password" required>
    </label>
    <button type="submit">가입하기</button>
  </form>
</main>
