<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header class="header">
      <a href="/" class="logo">축구 선수단</a>
      <nav>
        <a href="/login">로그인</a>
        <a href="/register">회원가입</a>
      </nav>
    </header>

    <%- body %>
  </body>
</html>
