<main class="home">
  <section>
    <p class="sub-title">축구 선수단 감독으로 입단을 환영합니다!</p>
    <h1>축구 선수단 구성 사이트</h1>
    <p class="description">
      회원가입과 로그인을 한 뒤, 내가 원하는 축구 선수들을 추가하고 관리할 수 있습니다.
    </p>
    <div class="button-group">
      <a href="/register" class="button">시작하기</a>
      <a href="/login" class="button line">로그인</a>
    </div>
  </section>
</main>
